# Node modules
node_modules/
# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages/
# Optional npm cache directory
.npm
# Optional eslint cache
.eslintcache
# Optional REPL history
.node_repl_history

# Output directories
build/
dist/
# Coverage directory used by tools like istanbul
coverage/

# Environment variables
.env

# Miscellaneous
.DS_Store
*.swp

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
